
<table class="table table-striped table-bordered table-condensed">
 <tr>
 <td width="70%" class="hero-unit"> 
 <% if !@blogview.blank? %> 
<div align="left">
<h4 class="subheading">My Posts</h4>
      <% @blogview.each do |b| %>
      
      <div class="badge">
        <h5><%= b.title %></h5>
        <p><%= b.post %><p>
    
      </div>
    <% end %>
</div>
<% else %>
<h4 class="subheading">No Posts Available.</h4>
<% end %>    
</td>
<td width="30%" class="hero-unit" align="top">
 <% if !@myfriends.blank? %>  
<div>
<h4 class="subheading">Friends Messages</h4>
      <% @myfriends.each do |b| %>
      
      <div border="1">
        <h5><%= link_to  b.email  , friendsblog_view_path(:user_id => b.id), 
:onclick=>"window.open(this.href,'create_company', 'height=400, width=500,left=200,top=200');return false;" %>'s Messages
</h5>
      </div>
    <% end %>

</div>
<% end %>
</td>
</tr>
</table>