


<h4 class="subheading">Chat with Friends</h4> <br /><br />

<%= form_tag friend_path do %>
<div class="container">
	<div class="row">
		<div class="span2"> 
<ul class="nav nav-pills nav-stacked">
  <% @userview.each do |item| %>
    <li class="badge badge-inverse"><i class="icon-user"></i><%= link_to  item.email.capitalize , chatwindow_path(:friendid => item.id), 
:onclick=>"window.open(this.href,'chat', 'height=500px, width=300px,left=200,top=200,location=no,toolbar=no, location=no,status=no,menubar=no,scrollbars=no,resizable=no');return false;" %></li>
  <% end %>
<ul>

    <br /><br />
  <% end %>
</div>
</div>
</div>

 