
<h4 class="subheading">Posts</h4>
     
      <table>
      	<tr>
      		<td></td>
      	</tr>
      	<tr>
      		<td> <%= text_area_tag :post %></td>
      	</tr>
      </table		
      
